<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget" value="https://api.nuget.org/v3/index.json" />
		<add key="BridgeLog" value="https://nuget.pkg.github.com/ShimadzuCorp/index.json" />
		<add key="BridgeKestrelExtensions" value="https://nuget.pkg.github.com/ShimadzuCorp/index.json" />
		<!--<add key="LocalPackage" value="/" />-->
	</packageSources>

	<packageSourceMapping>
		<!-- key value for <packageSource> should match key values from <packageSources> element -->
		<packageSource key="nuget">
			<package pattern="*" />
		</packageSource>
		<packageSource key="BridgeLog">
			<package pattern="BridgeLog" />
		</packageSource>
		<packageSource key="BridgeKestrelExtensions">
			<package pattern="BridgeKestrelExtensions" />
		</packageSource>
	</packageSourceMapping>

	<packageSourceCredentials>
		<BridgeLog>
			<!-- Add your credentials here -->
			<add key="Username" value="SacViranga" />
			<add key="ClearTextPassword" value="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" />
		</BridgeLog>
		<BridgeKestrelExtensions>
			<!-- Add your credentials here -->
			<add key="Username" value="VishnuRamaswamy" />
			<add key="ClearTextPassword" value="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" />
		</BridgeKestrelExtensions>
	</packageSourceCredentials>
</configuration>
